.container {
  width: 100%;
  height: 100vh;
  padding: 1rem;

  background: linear-gradient(96.07deg, #5965E0
  -19.93%, #5965ED 100%);
  color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 50%;
  margin-left: 60%;
  display: grid;
}

.content img:first-child {
  height: 650px;
  position: absolute;
  width: 768px;
  left: 0.4rem;
  top: 80px;
  
  opacity: 1;
}

.content img:last-child {
  height: 130px;
}

.content strong {
  font-family: 'Rajdhani', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  margin: 5rem 0 2rem;
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
  }
}

.title {
  display: flex;
  margin-bottom: 1rem;
}
.title span {
  max-width: 220px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #ffff;
  font-size: 1rem;
  font-weight: 500;
}

.content form {
  order: 0;

  max-width: 350px;
  height: 65px;
  padding: 5px;

  display: flex;
  justify-content: space-between;

  background: #FFFFFF, 100%;
  border-radius: 5px;
  border: 1px solid;
}

.container input {
  order: 1;

  width: 100%;
  padding: 10px;
  margin-right: 5px;

  font-size: 14px;
  font-family: 'Rajdhani', sans-serif;

  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;  
  border: none;
}
.container input:placeholder {
  font: #fff;
  font-family: 'Rajdhani', sans-serif;
}

.container button {
  
  order: 2;

  width: 80px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--blue);
  border: none;
  border-radius: 0px 5px 5px 0px;
  
  transition: 0.2s;
}

.container button:hover {
  background: #4CD62B;
  border-radius: 0px 5px 5px 0px;
}

.container button svg {
  color: var(--white);
}

@media (max-width: 768px) {
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .buttons button div {
    visibility: hidden;
    display: none;
  }
}
